.item {
    padding: 10px 0;
    border-bottom: 1px solid #e0dddd;
}

.item p {
    margin-bottom: 5px;
}

.decrease,
.increase {
    padding: 2px 5px;
    border: 1px solid rgb(239, 239, 239);
    border-radius: 2px;
    cursor: pointer;
}

.decrease:hover, .increase:hover {
  border: 1px solid black;
}

.quantityWrapper span {
    margin: 0 8px;
}