.main {
  height: 100vh;
}

.title {
  text-align: center;
    margin: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.content {
  width: 50%;
}

.content h3 {
  text-align: center;
  margin-bottom: 20px;
}

.productsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.orderWrapper {
  padding: 0 20px;
}