.primaryButton,
.secondaryButton {
  padding: 10px 15px;
  border-radius: 2px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.primaryButton {
  background: #578c66;
  color: white;
  margin-right: 15px;
}

.secondaryButton {
  background-color: #c7c7c7;
  color: black;
}

.primaryButton:hover,
.secondaryButton:hover {
  box-shadow: 2px 2px 5px 1px #b2b2b2;
}

.field {
  border: none;
}

.field label {
  margin-right: 5px;
}

.field input {
  width: 100%;
}